@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// цвета
$c1: '#FFFFFF';
$c8: '#DC2428';
$c19: '#2E2E2E';
$c21: '#000000';
$c9: linear-gradient(180deg, #CFA859 0%, rgba(247, 201, 109, 0.786458) 21.35%, rgba(251, 180, 36, 0.625) 37.5%, rgba(231, 182, 52, 0.8) 54.17%, rgba(223, 164, 43, 0.74) 68.75%, #CEA553 84.37%, #B88E39 99.98%, rgba(207, 168, 88, 0.1) 99.99%, rgba(207, 168, 89, 0) 100%, #936F28 100%, #936F28 100%, #B88E39 100%);;
$c7: '#FFCCD1';
$c10: '#F7F7F7';
$c6: '#644B2C';
$c14: '#B2B2B2';
$c20: '#111111';
$c18: '#404040';
$c2: '#FCF8F5';
$c3:  '#F7F1DF';

$border-r: '#7E623C';
$bg-section2: '#E4D0B4';

// шрифты
$DM-font: "DM Sans", sans-serif;
$Roboto-font: "Roboto", sans-serif;
